<div th:fragment="header">
    <div class="bg-dark text-light mb-2 p-3 d-flex justify-content-between align-items-center">
        <span class="text-info display-4">Mudi</span>
        <span>
            <a class="text-light" sec:authorize="!isAuthenticated()" href="/login">Login</a>
            <a onclick="document.querySelector('#form-logout').submit()" class="text-light" sec:authorize="isAuthenticated()" href="#">Logout</a>
            <form id="form-logout" th:action="@{/logout}" method="POST"></form>
        </span>
    </div>

    <div sec:authorize="isAuthenticated()">
        <div class="col">
            <nav class="nav">
                <a class="nav-link" th:href="@{/}">Home</a>
                <a class="nav-link" th:href="@{/pedidos}">Meus Pedidos</a>
                <a class="nav-link" th:href="@{/ofertas}">Faça uma Oferta</a>
            </nav>
        </div>
    </div>
</div>

<h1 th:fragment="titulo(valor)" th:text="${valor}" class="h2"></h1>